<!DOCTYPE html>
<html lang="en">

<head>
  <!-- basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- mobile metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="viewport" content="initial-scale=1, maximum-scale=1" />
  <!-- site metas -->
  <title>E-Bus Pass -Pass Registration</title>
  <link rel="icon" href="logo.jpg" type="image/gif" />
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <!-- bootstrap css -->
  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <!-- style css -->
  <link rel="stylesheet" href="css/style.css" />
  <!-- Responsive-->
  <link rel="stylesheet" href="css/responsive.css" />
  <!-- fevicon -->
  <link rel="icon" href="images/fevicon.png" type="image/gif" />
  <!-- Scrollbar Custom CSS -->
  <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css" />
  <!-- Tweaks for older IEs-->
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
    media="screen" />
</head>
<!-- body -->

<body>
  <!-- <% if (q==0) { %>
    <script>
      swal({
        title: "Sorry!",
        text: "There are no registrations with the roll number",
        timer: 5000
      });
      q = 1
    </script>
    <% } %> -->
      <div class="contact" id="contact">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="titlepage">
                <h2>Registration for New Bus Pass</h2>
               
              </div>
            </div>
          </div>

          <div class="container">
            <div class="row">
              <div class="col-md-12">
              

                <form class="main_form" action="/registersucess" method="post" id="sheetdb-form">
                  <div class="row">
                    <div class="col-md-12">
                      <input class="form_contril" placeholder="First Name " type="text" id="fname" name="fname"
                        required />
                    </div>
                    <div class="col-md-12">
                      <input class="form_contril" placeholder="Last Name " type="text" id="lname" name="lname"
                        required />
                    </div>
                    <div class="col-md-12">
                      <input class="form_contril" placeholder="Roll Number" type="text" id="roll number" name="rollno"
                        required />
                    </div>
                    <div class="col-md-12">
                      <input class="form_contril" placeholder="Phone Number" type="text" id="Phone num" name="phno"
                        required />
                    </div>
                    <div class="col-md-12">
                      <input class="form_contril" placeholder="Email" type="text" name="email" required />
                    </div>

                    <div class="col-md-12">
                      <select id="Year" name="year"  class="form_contril" required>
                        <option value="">Year</option>
                        <option value="year1">1st year</option>
                        <option value="year2">2nd year</option>
                        <option value="year3">3rd year</option>
                        <option value="year4">4th year</option>
                      </select>
                    </div>

                    <div class="col-md-12">
                      <select id="Branch" name="branch" class="form_contril" required>
                        <option value="">Branch</option>
                        <option value="CSE">CSE</option>
                        <option value="CIVIL">CIVIL</option>
                        <option value="MECHANICAL">MECHANCICAL</option>
                        <option value="AI & DS">AI/DS</option>
                        <option value="IT">IT</option>
                        <option value="EEE">EEE</option>
                        <option value="ECE">ECE</option>
                      </select>
                    </div>

                    <div class="col-md-12">
                      <select id="Route" name="route"  class="form_contril" required>
                        <option value="">Route</option>
                        <option value="Hanumanthawaka">Hanumanthawaka</option>
                        <option value="Seethamadhara">Seethamadhara</option>
                        <option value="Jagadhama">Jagadhama</option>
                        <option value="RTC Complex">RTC Complex</option>
                        <option value="Pendurthi">Pendurthi</option>
                        <option value="Vepagunta">Vepagunta</option>
                        <option value="Simhachalam">Simhachalam</option>
                      </select>
                    </div>

                    <div class="col-md-12">
                      <select id="Route" name="busno" class="form_contril" required>
                        <option value="">Bus Number</option>

                        <option value="AP39-TC-2027">AP39-TC-2027</option>
                        <option value="AP31-TD-7090">AP31-TD-7090</option>
                        <option value="AP39-TH-6051">AP39-TH-6051</option>
                        <option value="AP31-TH-2026">AP31-TH-2026</option>
                        <option value="AP31-TC-7177">AP31-TC-7177</option>
                        <option value="AP31-TH-7089">AP31-TH-7089</option>
                        <option value="AP39-TE-0286">AP39-TE-0286</option>
                      </select>
                    </div>

                    <div class="col-md-12">
                      <input type="text" id="Adress" name="address" placeholder="Address" class="form_contril"
                        required />
                    </div>
                    <!-- <div class="col-md-12">
                                <input class="form_contril" value="Valid Till" placeholder="Valid till" type="date"  name="date">
                            </div> -->
                    <div class="col-md-12">
                      Current Date:
                      <input class="form_contril" value="Valid Till" readonly placeholder="Valid till" type="text"
                        id="today" name="datee" />
                    </div>
                    <div class="col-md-12">
                      Valid Till:
                      <input class="form_contril" value="Valid Till" readonly placeholder="Valid till" type="text"
                        id="valid" name="date" />
                    </div>

                    <div class="col-sm-12">
                      <button class="send_btn">submit</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <script>
        const today = new Date();
        var dd = today.getDate();
        dd = dd.toString();
        var mm = today.getMonth() + 1;
        mm = mm.toString();
        var yy = today.getFullYear();
        yy = yy.toString();
        let vv = dd + "/" + mm + "/" + yy;
        document.querySelector("#today").value = vv;

        const valid = new Date();

        var d = valid.getDate();
        d = d.toString();
        var m = valid.getMonth() + 1;
        m = m.toString();
        var y = valid.getFullYear() + 1;
        y = y.toString();
        let v = d + "/" + m + "/" + y;

        document.querySelector("#valid").value = v;
        console.log(valid);
      </script>

      <script src="js/jquery.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.bundle.min.js"></script>
      <script src="js/jquery-3.0.0.min.js"></script>

      <!-- sidebar -->
      <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="js/custom.js"></script>
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
</body>

</html>