<html>

<head>
    <title>E-Bus Pass</title>
    <link rel="icon" href="logo.jpg" type="image/gif"/>
    <style>
        /*======================
    404 page
=======================*/


        .page_404 {
            padding: 40px 0;
            background: #fff;
            font-family: 'Arvo', serif;
        }

        .page_404 img {
            width: 100%;
        }

        .four_zero_four_bg {


            background-image: url(https://i.pinimg.com/originals/ff/fa/38/fffa389e89cfa5cc0764d605fda0d254.gif);
            height: 500px;
            background-position: center;
        }


        .four_zero_four_bg h1 {
            font-size: 40px;
            margin-top: 0px;
        }

        .four_zero_four_bg h3 {
            font-size: 80px;
        }

        .link_404 {
            color: #000 !important;
            padding: 10px 20px;
            text-decoration: none;
            background: yellow;
            margin: 5px 0;
            display: inline-block;
        }

        .contant_box_404 {
            margin-top: -150px;
        }
        .contant_box_404 .h2{
            padding-top: 15px;
        }
        @media (max-width:700px){
            .four_zero_four_bg{
                margin-top: 50px;
                height: 900px;
            }
        }
    </style>
</head>

<body>
    <section class="page_404">
        <center>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 ">
                        <div class="col-sm-10 col-sm-offset-1  text-center">
                            <div class="four_zero_four_bg">
                                <h1 class="text-center ">Drivers Not Found</h1>


                            </div>

                            <div class="contant_box_404">
                                

                                <a href="/" class="link_404">Go to Home</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </center>
    </section>
</body>

</html>