<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>E-Bus Pass</title>
      <link rel="icon" href="logo.jpg" type="image/gif"/>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css --> 
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <!-- style css -->
      <link rel="stylesheet" href="css/style.css">
      <!-- Responsive-->
      <link rel="stylesheet" href="css/responsive.css">
      <!-- fevicon -->
      <link rel="icon" href="images/fevicon.png" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">


      <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Roboto+Mono:ital,wght@0,100;1,200&display=swap"
        rel="stylesheet">
    <style>
        .main-layout{
            background-image: linear-gradient(to right,#393a61,#6cebd5);
        }
        .button-33 {
            background-color: #c2fbd7;
            border-radius: 100px;
            box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset, rgba(44, 187, 99, .15) 0 1px 2px, rgba(44, 187, 99, .15) 0 2px 4px, rgba(44, 187, 99, .15) 0 4px 8px, rgba(44, 187, 99, .15) 0 8px 16px, rgba(44, 187, 99, .15) 0 16px 32px;
            color: green;
            cursor: pointer;
            display: inline-block;
            font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
            padding: 7px 20px;
            text-align: center;
            text-decoration: none;
            transition: all 250ms;
            border: 0;
            font-size: 16px;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
        }

        .button-33:hover {
            box-shadow: rgba(44, 187, 99, .35) 0 -25px 18px -14px inset, rgba(44, 187, 99, .25) 0 1px 2px, rgba(44, 187, 99, .25) 0 2px 4px, rgba(44, 187, 99, .25) 0 4px 8px, rgba(44, 187, 99, .25) 0 8px 16px, rgba(44, 187, 99, .25) 0 16px 32px;
            transform: scale(1.05) rotate(-1deg);
        }

        /* internal css */
        li {
            display: inline;
            text-decoration: none;
            font-size: 24px;

        }

        .a {
            background-color: #7845ca;
        }

        .title {
            font-size: 44px;
            text-decoration: none;
            padding-left: 150px;
            color: white;
            font-family: 'Kdam Thmor Pro', sans-serif;
        }

        .title:hover {
            text-decoration: none;
            color: aliceblue;
        }

        .b {
            margin-top: 45px;
            margin-left: 30px;
          

        }

        .c {
            float: right;
            margin-top: 200px;
            margin-right: 250px;
        }

        #loginbutton {
            padding: 20px;
            margin: 20px;


        }




        .d {
            margin-top: 600px;
            background-color: #f2f2f2;
          
            margin-left: 8px;
            margin-right: 8px;
            padding: 200px;
        }

        .e {
            font-size: 20px;
        }

        .f {
            font-size: 20px;
            background-color: rgb(202, 225, 223);
            padding: 50px;
            text-align: center;
        }

        .h {
            padding: 100px;
            text-align: center;
            margin: 10px;
        }

        .button-33 {
            margin: 20px;
        }

        .fa-brands {
            margin: 5px;
        }


        /*internal css end*/
    </style>
   </head>
   <!-- body -->
   <body class="main-layout">
      
       

<script src="https://kit.fontawesome.com/ef94d9cac3.js" crossorigin="anonymous"></script>
    </div>

    <section id="buttonss">

        <div class="h">
            <form action="/studentlogin">

                <button class="button-33" role="button">Login as Student</button> <br>
                
            </form>
            <form action="/adminlogin">
                 <button class="button-33" role="button">Login as Administrator</button>
            </form>
           
        </div>


    </section>

    

</body>

</html>