<html>
    <head>
        <title>E-Bus Pass -Reject</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
        <meta name="generator" content="Hugo 0.98.0">
    
        <link rel="icon" href="logo.jpg" type="image/gif"/>
        <style>
            body{
                background-image: linear-gradient(to right,#393a61,#6cebd5);
                color: #fff;
            }
            center{
                margin-top: 10%;;
            }
        </style>
    </head>
    <body>
        <center>
            <h3>No Registrations on Your Roll Number OR Your Bus Pass Is rejected by Admin</h3>
            <a href="/busregister">Register For New Pass</a>
        </center>
    </body>
</html>